bin
.vs
obj
Properties
.vs/BowlingMachineApp/DesignTimeBuild/.dtbcache.v2
.vs/BowlingMachineApp/DesignTimeBuild/.dtbcache.v2
.vs/BowlingMachineApp/FileContentIndex/4e56f912-2f02-486f-9ff1-be4ff5f89a6c.vsidx
*.vsidx
*.v2
.vs/BowlingMachineApp/DesignTimeBuild/.dtbcache.v2
.vs/BowlingMachineApp/FileContentIndex/4e56f912-2f02-486f-9ff1-be4ff5f89a6c.vsidx
.vs/BowlingMachineApp/FileContentIndex/ecc00ac0-ea34-4e0f-aa3f-ff1fdf314076.vsidx
.vs/BowlingMachineApp/v17/.futdcache.v2
.vs/BowlingMachineApp/v17/.suo
.vs/ProjectEvaluation/bowlingmachineapp.metadata.v7.bin
.vs/ProjectEvaluation/bowlingmachineapp.projects.v7.bin
obj/CallTracker/net6.0-windows/BowlingMachineApp.dll
obj/CallTracker/net6.0-windows/BowlingMachineApp.pdb
obj/Release/net6.0-windows/BowlingMachineApp.dll
obj/Release/net6.0-windows/BowlingMachineApp.pdb
obj/Release/net6.0-windows/win-x64/BowlingMachineApp.dll
obj/Release/net6.0-windows/win-x64/BowlingMachineApp.pdb
Properties/PublishProfiles/FolderProfile.pubxml.user
